@font-face {
    font-family: 'JMH Typewriter';
    src: url('fonts/JMH\ Typewriter-Bold.ttf');
}

@font-face {
    font-family: 'fatkat';
    src: url(fonts/Fat\ Kat\ -\ \(Demo\)\ hanscostudio.com\ \(1\).ttf);
}

@font-face {
    font-family: 'extradays';
    src: url(fonts/Extra\ Days.ttf);
}

h1 {
    font-size: 40px;
    font-family: 'fatkat';
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-family: 'JMH Typewriter';
}


#hometitle {
    background-color: rgb(205, 205, 205);
    width: 100%;
    height: 160px;
}

#hometitle img {
    width: 350px;
    margin: auto;
    margin-top: 7px;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    border-radius: none;
    background-color: transparent;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    color: rgb(195, 195, 195);
    margin-top: 160px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color: rgb(124, 0, 0);
}

.navlinks button {
    background-color: rgb(195, 195, 195);
    width: 150px;
    height: 50px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgb(119, 119, 119);
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'JMH Typewriter';
}

.navlinks button:hover {
    background-color: rgb(72, 1, 1);
    color: rgb(181, 181, 181);
}

#header1 {
    text-align: center;
    background-color: rgb(195, 195, 195);
    font-size: 35px;
    color: rgb(124, 0, 0);
    height: auto;
    margin: 0px;
    left: 0px;
    padding: 10px;
    position: absolute;
    top: 140px;
    width: 100%;
}

body {
    background-color: #B62025;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(2, auto);
    /* 2 rows */
    gap: 20px;
    /* Space between grid items */
    row-gap: 100px;
    /* Space between rows */
    justify-items: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 100px;
    padding-top: 50px;
    background-color: transparent;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 400px;
    /* Adjust as needed */
    height: 400px;
    /* Adjust as needed */
    object-fit: cover;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));
    /* Drop shadow */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: gray;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s;
    font-family: 'JMH Typewriter';
}

.button:hover {
    background-color: darkgray;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(195, 195, 195);
    font-size: 30px;
    color: rgb(124, 0, 0);
    height: auto;
    margin-bottom: 0px;
    margin-top: 20px;
}

.footer button {
    background-color: rgb(124, 0, 0);
    color: rgb(195, 195, 195);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'JMH Typewriter';
    height: 50px;

}

.footer button:hover {
    background-color: rgb(181, 181, 181);
    color: rgb(124, 0, 0);
}

#aug1 img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 190px;
    top: 240px;
    rotate: 180deg;
    z-index: 2;
    filter: brightness(0.5);
    /* Makes the image darker */
}

#sep1 img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 780px;
    top: 240px;
    rotate: 180deg;
    z-index: 2;
    filter: brightness(0.5);
    /* Makes the image darker */
}

#oct1 img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1360px;
    top: 240px;
    rotate: 180deg;
    z-index: 2;
    filter: brightness(0.5);
    /* Makes the image darker */
}

#nov1 img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 190px;
    top: 810px;
    rotate: 180deg;
    z-index: 2;
    filter: brightness(0.5);
    /* Makes the image darker */
}

#dec1 img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 780px;
    top: 810px;
    rotate: 180deg;
    z-index: 2;
    filter: brightness(0.5);
    /* Makes the image darker */
}

#jan1 img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 1360px;
    top: 810px;
    rotate: 180deg;
    z-index: 2;
    filter: brightness(0.5);
    /* Makes the image darker */
}

#feb1 img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 190px;
    top: 1370px;
    rotate: 180deg;
    z-index: 2;
    filter: brightness(0.5);
    /* Makes the image darker */
}

#mar1 img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 770px;
    top: 1370px;
    rotate: 180deg;
    z-index: 2;
    filter: brightness(0.5);
    /* Makes the image darker */
}